@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: end;
  font-family: "Lato", sans-serif;
}

$menu-text: white;
$menu-color: #252629;
$task-status-working: #ffdd00;
$task-status-done: #1db443;
$task-status-stuck: #ef233c;
$task-priority-high: #7b2cbf;
$task-priority-medium: #9145cf;
$task-priority-low: #be74f7;
$task-tags: #b3e9c7;
$header: #2a2d2f;
li {
  list-style-type: none;
}

.tab {
  height: 100vh;
  background-color: $menu-color;
  display: flex;
  flex-direction: column;
  gap: 50px;
  transition: all 0.3s ease;
  font-family: "Lato", sans-serif;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}
.bx {
  fill: $menu-text;
}
.menu {
  fill: $menu-text;
  cursor: pointer;
}
.menu-headline {
  color: $menu-text;
  display: flex;
  justify-content: center;
  cursor: default;
}
.menu-box {
  display: flex;
  justify-content: end;
  align-items: start;
  padding: 10px;
}
.menu-user {
  color: $menu-text;
  padding: 10px;
  font-size: 1.8rem;
  cursor: default;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.menu-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.menu-main-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.bx-box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-left: 5px;
  cursor: pointer;
  width: 80%;
}
.bx-box:before {
  content: "";
}
.bx-text::before {
  content: "";
}
.bx-text {
  color: $menu-text;
  font-size: 1.25rem;
  font-weight: 500;
}
.sidebar-active .bx-text,
.sidebar-active .menu-headline,
.sidebar-active .menu-user {
  display: none;
}
.sidebar-active .bx-box {
  padding: 15px;
  width: fit-content;
  gap: 0;
}
.sidebar-active .menu-main-list {
  justify-content: center;
  align-items: center;
}
.sidebar-active .menu-list {
  gap: 0;
}
.sidebar-active .menu-content {
  gap: 15px;
}
.sidebar-active .menu-user {
  display: none;
}
.sidebar-active .menu-box {
  justify-content: center;
}
.sidebar-active {
  width: 65px;
  z-index: 1;
}

.bx-box:hover {
  background-color: white;
  border-radius: 8px;
}
.bx-box:hover .bx {
  fill: $menu-color;
}
.bx-box:hover .bx-text {
  color: $menu-color;
}
.main-content {
  min-width: calc(100vw - clamp(220px, 40vw, 300px));
  width: calc(100vw - 65px);

  z-index: 1;
}

.header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: $header;
  color: white;
  height: 150px;
  font-family: "Lato", sans-serif;
}
.content-head {
  display: flex;
  font-size: 0.85rem;
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.add {
  border-radius: 12px;
  background-color: #0089ff;
  border: 1px solid black;
  width: 90px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all ease-in 50ms;
  cursor: pointer;
}
.button:hover {
  width: 100px;
  height: 50px;
  font-size: 1rem;
  font-weight: 800;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.today-headline {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.task {
  display: flex;
  margin-left: 20px;
  width: 90%;
  color: white;
  background-color: $header;
  height: 90px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}
.task-border-done {
  border-left: 10px solid $task-status-done;
}
.task-border-stuck {
  border-left: 10px solid $task-status-stuck;
}
.task-border-working {
  border-left: 10px solid $task-status-working;
}
.task-name {
  border-right: 1px solid black;
  width: 28%;
  min-width: 230px;

  display: flex;
  align-items: center;
  padding-left: 5px;
}
.task-owner {
  border-right: 1px solid black;
  width: 15%;
  min-width: 120px;

  display: flex;
  align-items: center;
  padding-left: 5px;
}
.task-status {
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  min-width: 120px;
}
.task-priority {
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  min-width: 110px;
}
.task-priority-high {
  background-color: $task-priority-high;
}
.task-priority-medium {
  background-color: $task-priority-medium;
}
.task-priority-low {
  background-color: $task-priority-low;
}
.task-status-done {
  background-color: $task-status-done;
}
.task-status-working {
  background-color: $task-status-working;
}

.task-tags {
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  width: 12%;
  min-width: 110px;

  color: $task-tags;
  padding-left: 5px;
}
.task-date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  min-width: 110px;
}
.today {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.task-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bx-box-task:hover {
  background-color: white;
  border-radius: 8px;
}
.bx-box-task:hover .bx {
  fill: $menu-color;
}
@media (max-width: 967px) {
  .task {
    flex-direction: column;
  }
  .task-name,
  .task-owner,
  .task-status,
  .task-priority,
  .task-tags,
  .task-date {
    width: 100%;
    border: none;
    justify-content: center;
    height: 70px;
    min-width: 200px;
  }
  .task {
    height: fit-content;
    min-width: 200px;
  }
  .task-border-done {
    border: 3px solid $task-status-done;
  }
  .task-border-stuck {
    border: 3px solid $task-status-stuck;
  }
  .task-border-working {
    border: 3px solid $task-status-working;
  }
  .header {
    height: fit-content;
  }
  .task-delete {
    height: 50px;
  }
  .task-edit {
    height: 50px;
  }
}
